main {
  max-width: 1440px;
  padding: 1rem 10% 1rem 10%;
}

/* Booking part */
.booking {
  background-image: url(../B9A2-Hero-Travel/Images/booking.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
  flex-shrink: 0;
  border-radius: 1.5em;
  z-index: -1;
  /* background-color: rgba(0, 0, 0, 0.224); */
}
.booking {
  background-color: linear-gradient(
    180deg,
    rgba(19, 19, 24, 0.916) 110%,
    rgba(19, 19, 24, 0.55) 100%
  );
  /* background-color: rgba(0, 0, 0, 0.322); */
  z-index: 1;
}
.booking h1 {
  text-align: center;
  color: #fff;
  font-family: Mulish;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  position: relative;
  top: 2em;
}
.booking p {
  width: 676px;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  position: relative;
  top: 7em;
  left: 20%;
}
.BannerBar {
  display: inline-flex;
  padding: 16px;
  align-items: flex-start;
  gap: 24px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  margin: 0 20% 0 20%;
  position: relative;
  top: 10em;
  right: 6.5%;
}
.btnPrimary {
  color: aliceblue;
  background-color: #fd6e0a;
  border: 5px solid #fd6e0a;
  border-radius: 0.7rem;
  width: 174px;
  height: 32px;
  font-size: 14px;
  font-weight: 700;
  padding: 5px 15px;
}
/* .kk {
  border-radius: .7rem;
  font-size: 20px;
  font-weight: 700;
  padding: 5px 15px;
} */
.kk {
  width: 174px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #fff;
}

/* Responsive booking part */
@media screen and (max-width: 592px) {
  .booking {
    background-image: url(../B9A2-Hero-Travel/Images/booking.png);
    background-repeat: no-repeat;
    width: 335px;
    height: 500px;
    flex-shrink: 0;
    border-radius: 1.1em;
    z-index: -1;
    /* background-color: rgba(0, 0, 0, 0.224); */
  }
  .booking {
    background-color: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.916) 110%,
      rgba(19, 19, 24, 0.55) 100%
    );
    /* background-color: rgba(0, 0, 0, 0.322); */
    z-index: 1;
  }
  .booking h1 {
    color: #000000;
    font-family: Mulish;
    font-size: 22px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
  .booking > p {
    color: #000000;
    width: 220px;
    font-family: Mulish;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    margin-left: 0;
    margin-right: 10em;
    line-height: normal; /* 150% */
  }
  .BannerBar {
    display: flex;
    width: 287px;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    position: relative;
    top: 18%;
    left: 0.5em;
    margin: 0;
  }
  .kk {
    margin-left: 15px;
    width: 255px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #fff;
  }
  .btnPrimary {
    margin-left: 15px;
    width: 255px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #ff5400;
  }
}

/* Tours section */
.tours {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2em;
}
.secHead {
  color: #131318;
  text-align: center;
  font-family: Mulish;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.secP {
  color: rgba(19, 19, 24, 0.7);
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  width: 577px;
}
.toursText > ul {
  width: 450px;
  padding: 0;
}
.secLi {
  color: rgba(19, 19, 24, 0.7);
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin: 0;
  margin-left: 20px;
}

/* Responsive tours section */
@media screen and (max-width: 592px) {
  .tours {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
  }
  .secHead {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
  .secP {
    width: 365px;
  }
  .toursText > ul {
    width: 335px;
    padding: 0;
  }
  .secLi {
    color: rgba(19, 19, 24, 0.7);
    font-family: Mulish;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
  }
  .img img {
    width: 100%;
  }
}

/* destination section */
.destination {
  display: flex;
  flex-direction: column;
}
.destext {
  width: 643px;
  height: 126px;
  flex-shrink: 0;
  margin: 100px 25% 100px 25%;
}
.desh {
  position: relative;
  top: 45%;
  left: 40%;
}
.destext h1 {
  color: #131318;
  text-align: center;
  font-family: Mulish;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.desImg > img {
  margin: 0.4em;
}

/* Responsive destination section */
@media screen and (max-width: 592px) {
  .destination {
    width: 375px;
    display: flex;
    flex-direction: column;
  }
  .destext {
    width: 375px;
    margin: 20px 0px 20px 0px;
  }
  .destext h1 {
    width: 300px;
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
  .desImg > img {
    width: 100%;
  }
}
